<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Story 6</title>
</head>
<body>
  <div class="container">
    <h1>Halo, Apa Kabar?</h1>
    <form action="{% url 'statuslist:add_status'%}" method="post">
      <table>
        {%csrf_token%}
        {{form.as_table}}
      </table>
      <input type="submit" value="Submit">
    </form>
    <table>
      {% for status in status %}
      <tr>
        <td>
          {{status.status}}
        </td>
        <td>
          {{status.waktu}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>